{% extends 'FootballbetBundle::layout_admin.html.twig' %}

{% block content -%}
    <div class="container" style="margin-top: 40px">
        <div class="col-md-3">

        </div>
        <div class="col-md-6" style="margin-top: 40px">
            <div class="portlet box blue">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="icon-calendar"></i> Editar Temporada
                    </div>
                    <div class="tools">
                        <a class="collapse" href=""></a>
                        <a class="config" data-toggle="modal" href="#portlet-config"></a>
                        <a class="reload" href=""></a>
                        <a class="remove" href=""></a>
                    </div>
                </div>
                <div class="portlet-body form">
                    <div class="container">
                        {{ form(edit_form) }}

                    </div>

                </div>
            </div>


        </div>
        <div class="col-md-3" style="margin-top: 40px">
            <div  class="form-inline">
                <div class="form-group">
                    <a href="{{ path('season') }}" class="btn default btn-xs green">
                        Regresar al listado
                    </a>
                </div>
                <div class="form-group">{{ form(delete_form) }}</div>
            </div>
        </div>
    </div>

{% endblock %}

