{% extends 'FootballbetBundle::layout_admin.html.twig' %}

{% block content -%}
    <div class="page-content">
        <div class="row">
            <div class="col-md-12">
                <div class="portlet">
                    <div class="portlet-title">
                        <div class="caption">
                            <h3> Nuevo Usuario</h3>
                        </div>
                        <div class="tools">
                            <a class="collapse" href=""></a>
                            <a class="config" data-toggle="modal" href="#portlet-config"></a>
                            <a class="reload" href=""></a>
                            <a class="remove" href=""></a>
                        </div>
                    </div>
                    <div class="portlet-body form">
                        <div class="container">
                            {{ form(form) }}
                        </div>

                    </div>
                </div>
                <div class="form-actions">
                    <a href="{{ path('user') }}" class="form-group btn btn-link">
                        <i class="icon-list"></i> Volver al listado
                    </a>
                </div>
            </div>
        </div>
    </div>




{% endblock %}
