{% extends 'FootballbetBundle::layout_admin.html.twig' %}

{% block content -%}
    <div class="page-content">
        <div class="row">
            <div class="col-md-12">
                <h3>Detalles de la Liga</h3>
                <div class="form-inline pull-right form-group">
                    <div class="form-group">
                        <a href="{{ path('league') }}" class="btn btn-link">
                            <i class="icon-list"></i> Volver al listado
                        </a>
                    </div>
                </div>
                <table class="table table-striped">
                    <tbody>
                   <tr>
                        <th>Nombre</th>
                        <td>{{ entity.nombre }}</td>
                    </tr>
                    <tr>
                        <th>Logo</th>
                        <td><img src="{{ entity.logo }}"/></td>
                    </tr>

                    </tbody>
                </table>
            </div>
        </div>
    </div>



{% endblock %}
